* {
  margin: 0;
  padding: 0;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  color: white;
}

.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min height: 100%;
  z-index: -1;
}

.header-text {
  display: flex;
  justify-content: center;
  padding: 11px;
}

.logga-in {
  padding: 11px;
  border: 1px;
}

.skapa-konto {
  border: 1px dashed #514e4c;
  padding: 11px;
}

label {
  display: flex;
  padding: 8px;
  justify-content: center;
}

fieldset {
  border: none;
}

form {
  max-width: 350px;
  margin: 0 auto;
}

input {
  width: 100%;
  font-size: 16px;
  padding: 14px 0;
  border-radius: 0%;
}

::placeholder {
  padding: 14px;
}