* {
  margin: 0;
  padding: 0;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  color: white;
}


.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min height: 100%;
  z-index: -1;
}

.form-header-text {
  display: flex;
  justify-content: center;
  padding: 11px;
  cursor: pointer;
}

.logga-in {
  padding: 11px;
  border: 1px;
  color: #514e4c;
}

.skapa-konto {
  border: 1px dashed #514e4c;
  padding: 11px;
}

label {
  display: flex;
  padding: 8px;
  justify-content: center;
}

fieldset {
  border: none;
}

form {
  max-width: 350px;
  margin: 0 auto;
}

.style-input {
  width: 100%;
  font-size: 16px;
  padding: 14px 0;
  border: 1px solid #514e4c;
  font-family: Verdana;
  letter-spacing: 1px;
  appearance: none;
}

::placeholder {
  padding: 14px;
}

button {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  appearance: none;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  padding: 14.6px 16px;
  margin-top: 26px;
  margin-bottom: 120px;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  border: 1px dashed white;
  padding: 11px;
  font-size: larger;
}

#down {
  margin-top: 50%;

}

.header-text h3 {
  margin-bottom: 220px;
  max-width: 525px;
  font-size: 20px;
}

.header-text h1 {
  margin-bottom: 28px;
  letter-spacing: 2px;
  font-size: 72px;
}

.nyhetsbrev {
  display: flex;
  justify-content: space-between;
  font-family: Verdana;
  color: #514e4c;
  font-size: 16px;
}

input[type="checkbox"] {
  font: inherit;
  width: 1.30em;
  height: 1.30em;
  cursor: pointer;
}